<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.powerjack"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/MainLblApplicationName">
        <activity android:name=".Menu" android:label="@string/MainLblApplicationName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About" android:label="@string/MainLblApplicationName"></activity>
        <activity android:label="@string/MainLblApplicationName" android:name=".Nowy"></activity>
        <activity android:name="Koszyk" android:label="@string/MainLblApplicationName"></activity>

    </application>
</manifest>